@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

.mulish {
  font-family: "Mulish", sans-serif;
 
}

.bgprimary{
    background-color: #0f172a;
}
.clrprimary{
    color: #10ccfc;
}
.clrsec{
    color: #08fce4;
    
}
.bgsec{
    background-color: #10ccfc;
}
.btn{
    background-color: #10ccfc;
    padding: 8px 24px;
    border-radius: 50px;
    transition: .6s;

}
.btn:hover{
    background-color: #58d2f4;
    box-shadow: 0px 2px 5px  #4e9bac;
    letter-spacing: 2px;
    
}

/* hero section */
.hero-img{
    background-image: url("./img/image1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes shadowPulse {
    0%, 100% {
        box-shadow: 0 0 0 rgba(0, 0, 255, 0);
    }
    50% {
        box-shadow: 0 0 10px 3px rgba(12, 133, 147, 0.8);
    }
}

.shadow-pulse {
    animation: shadowPulse 2s infinite;
}

.icon{
  transition: .4s;
  box-shadow: 0px 0px 1px  #4e9bac;
  padding: 8px;
  border-radius: 10%;
  opacity: .6;
}
.icon:hover{
   
    box-shadow: 0px 0px 10px  #4e9bac;
    opacity: .9;
   
}
.card{
    transition: .2s;
}
.card:hover{
    box-shadow: 0px 0px 5px  #4e9bac;
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image {
    animation: rotate360 15s linear infinite;
   
  }
  